
.header .navbar-light .navbar-toggler-icon::after,
.header .navbar-light .navbar-toggler-icon::before,
 .header .navbar-light .navbar-toggler-icon,
.footer,
.mybtn2,
.newsletter-section::before,
.testimonial-section .owl-carousel .owl-nav button.owl-next:hover,
.testimonial-section .owl-carousel .owl-nav button.owl-prev:hover,
.testimonial-section::before,
.products-section .owl-carousel .owl-nav button.owl-next,
.products-section .owl-carousel .owl-nav button.owl-prev,
.features-section .features-item:hover,
.section-title .title::before {
     background-color: #D06224;
}

.footer .footer-social-links a:hover i,
.contact-section .contact-item h5,
.contact-section .contact-item .icon i,
.faq-section .support-text a,
.testimonial-section .owl-carousel .owl-nav button.owl-next,
.testimonial-section .owl-carousel .owl-nav button.owl-prev,
.testimonial-section .client-info h5,
.products-section .product-content .product-price .new-price,
.features-section .features-item .icon i,
.about-section .about-content ul li i,
.mybtn1:hover,
.section-title .title {
        color: #D06224;
}

.mybtn1:focus {
    box-shadow: none;
}

.overlay a {
    color:#D06224;
}

.contact-section .contact-form .form-control:focus,
.testimonial-section .client-info img {
    border-color: #FFF3E4;
}



@media (max-width: 991px) {
    .header .navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link {
        color: #AE431E;
    }
}